<!DOCTYPE html>
<html>
<head>
    <title>Search Files</title>
</head>
<body>
    <h1>Search Files</h1>
    <form method="POST" action="/search">
        <label for="email_id">Email ID (Mandatory):</label>
        <input type="text" name="email_id" id="email_id" required><br><br>
        
        <label for="search_query">Search Query:</label>
        <input type="text" name="search_query" id="search_query"><br><br>
        
        <input type="submit" value="Search">
    </form>
</body>
</html>
